*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 243, 243);
}

.container{
    width: 900px;
    margin: auto;
}

.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: rgb(238, 133, 14);
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  .form_control {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 15px;
    margin-bottom: 5px;
  }

  input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #3d3535;
  border-radius: 4px;
  font-size: 15px;
}

input:focus {
  outline-color: rgb(48, 1, 45);
}

.button_container {
  display: flex;

  justify-content: flex-end;
  margin-top: 20px;
}

button {
    background-color: rgb(68, 1, 38);
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
  }
  button:hover {
    background-color: #2b003b;
    border: 2px solid rgb(71, 2, 40);
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
  }
  .textarea_control {
    grid-column: 1 / span 2;
  }
  .textarea_control textarea {
    width: 100%;
  }
  
  @media (max-width: 460px) {
    .textarea_control {
      grid-column: 1 / span 1;
    }
  } ;